.locationContainer {
  padding: 100px 100px 40px 100px;
  max-width: 1400px;
  margin: auto;

  @include for-pad {
    padding: 72px 20px 32px 20px;
  }
  .mapview {
    width: 100%;
    margin: auto;
    max-width: 600px;
    margin-bottom: 64px;
    @include for-pad {
      margin-bottom: 24px;
      max-width: unset;
    }
  }
  h1 {
    position: relative;
    width: fit-content;
    color: var(--black);
    margin: 40px auto 64px auto;

    &::after {
      content: "";
      position: absolute;
      background: var(--orange);
      width: 100%;
      height: 3px;
      bottom: -10px;
      left: 0px;
    }

    @include for-desktop {
      font-size: 1.5rem;
      margin-bottom: 24px;
    }

    @include for-phone {
      font-size: 1.125rem;
      margin-bottom: 40px;
    }
  }
}
h2.city-title {
  color: var(--black);
  padding: 80px 0 16px 0;
  font-weight: 500;
  font-size: 2.5rem;
  @include for-phone {
    font-size: 1.75rem;
    padding-top: 1rem;
  }
}

.ar-group {
  // @include flexbox-gap(row, center, center, 16px);
  // @include grid(row, repeat(4, 1fr), auto, normal, 16px);
  @include flexbox-gap(row, center, center, 1rem);
  flex-wrap: wrap;
  @include for-desktop {
    // @include grid(row, repeat(4, 1fr), auto, normal, 8px);
  }
  .ar-city-btn {
    width: calc(100% / 4 - 16px);
    color: var(--tag);
    padding: 16px 32px;
    border: 1px solid var(--orange);
    font-size: 1.75rem;
    font-weight: 500;
    @include ease(0.2s);
    &:hover {
      color: var(--orange);
    }
    @include for-phone {
      font-size: 1.25rem;
      padding: 8px 16px;
      gap: 8px;
      width: calc(100% / 2 - 8px);
    }
  }
}
ul.location {
  color: var(--black);
  width: 100%;
  // max-height: 90vh;
  // @include flexbox-wrap(column,stretch,start,wrap);
  @include grid(row, repeat(2, 1fr), auto, unset, 0);

  gap: 0 20px;

  @include for-pad {
    max-height: unset;
    @include grid(row, 1fr, auto, unset, 0);
  }
  li {
    flex-basis: 50%;
    padding: 32px;
    background-color: var(--white);
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    position: relative;
    @include ease(0.2s);
    @include for-pad {
      width: 100%;
      padding: 24px 8px;
    }
    &:hover {
      z-index: 1;
      @include scale(1.02);
      box-shadow: 0 3px 30px -10px var(--boxShadow);
    }
    a {
      cursor: pointer;
      color: var(--black);
      &:last-child:hover .arrow {
        @include translateX(10px);
      }
    }
    h3 {
      font-weight: 500;
      font-size: 1.5rem;
      padding-bottom: 0.75rem;

      @include for-phone {
        font-size: 1rem;
      }
    }
    h4 {
      font-weight: 300;
      font-size: 1.125rem;
      line-height: 1.5;
      @include for-phone {
        font-size: 0.875rem;
      }
    }
    .nav {
      color: var(--orange);
      font-weight: 400;
      font-size: 1.25rem;
      position: absolute;
      bottom: 32px;
      right: 32px;
      @include flexbox-gap(row, center, start, 12px);
      @include for-phone {
        font-size: 1rem;
        bottom: 16px;
        right: 16px;
      }
      .arrow {
        position: relative;
        background: var(--orange);
        width: 24px;
        height: 2px;
        @include ease(0.2s);

        &:after {
          content: "";
          position: absolute;
          background: var(--orange);
          width: 5px;
          height: 2px;
          right: 0;
          top: -2px;
          @include rotate(45deg);
        }
      }
    }
    //  &:last-child{
    //   border: unset;
    //   text-align: center;
    //   padding: 20px 20px 0 20px;
    //   &:hover{
    //     z-index: 0;
    //     @include scale(1);
    //     box-shadow: unset;
    //   }

    //   @include for-pad{
    //     padding: 0 0 20px 0;
    //     height: unset;
    //   }
    //  }
  }
  &.recommend {
    grid-template-columns: 1fr;
    li {
      background: var(--tertiary-container);
      border-radius: 12px;
      box-shadow: 2px 2px 5px var(--boxShadow);
      border: 2px solid var(--orange);
      @include ease(0.2s);
      h3 {
        margin-top: 0;
        line-height: 1.5;
      }
      a.nav {
        background-color: var(--white);
        padding: 8px 16px;
        border-radius: 24px;
        color: var(--orange);
        .arrow {
          background: var(--orange);
          &::after {
            background: var(--orange);
          }
        }
      }
      &:hover {
        filter: brightness(1.05);
        border-radius: 32px;
      }
      @include for-pad {
        padding: 16px;
        padding-bottom: 80px;
      }
    }
  }
  &.location-v2 {
    grid-template-columns: 1fr;
    gap: 4rem;

    li {
      background-color: var(--surface-container);
      border: 1px solid var(--border);
      border-radius: 1rem;
      @include for-pad {
        padding: 1.5rem;
      }
      @include for-phone {
        padding: 1rem;
      }
      .top-section {
        @include flexbox-gap(row, end, space-between, 1rem);
        padding-bottom: 2rem;
        @include for-phone {
          @include flexbox-gap(column, start, space-between, 1rem);
          padding: 0 0 1rem 0;
        }
        .act-list {
          @include flexbox-gap(row, cneter, end, 2rem);
        }
        .nav {
          position: relative;
          bottom: unset;
          right: unset;
        }
      }
      .info-section {
        @include grid(column, 2fr 3fr, auto auto, inherit, 0);

        .info-item {
          padding: 2rem;
          padding-left: 0;
          border-top: 1px solid var(--border);
          @include for-phone {
            padding: 1rem 0;
          }
          .sub-label {
            border: 2px solid var(--lightGreen);
            width: fit-content;
            padding: 0.5rem;
            font-weight: 500;
            margin-bottom: 1rem;

            &.m-top {
              margin-top: 2rem;
            }
          }
          &:first-child {
            grid-column: 1 / 2; /* 佔據第 1 欄 */
            grid-row: 1 / 2; /* 佔據第 1 列 */
            @include for-phone {
              grid-column: unset;
              grid-row: unset;
            }
          }
          &:nth-child(2) {
            grid-column: 1 / 2; /* 佔據第 1 欄 */
            grid-row: 2 / 3; /* 佔據第 2 列 */
            @include for-phone {
              grid-column: unset;
              grid-row: unset;
            }
          }
          &:last-child {
            grid-column: 2 / 3;
            grid-row: 1 / span 2;
            border-left: 1px solid var(--border);
            padding-left: 2rem;
            @include for-phone {
              grid-column: unset;
              grid-row: unset;
              padding-left: 0;
              border-left: unset;
            }
          }
          p {
            font-weight: 300;
          }
          span.note {
            font-weight: 500;
            color: var(--tag);
            margin-top: 0.5rem;
            font-size: 0.875rem;
          }
        }
        @include for-phone {
          grid-auto-flow: row;
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
section.facility {
  padding: 40px 100px 40px 100px;
  @include flexbox(column, center, start);
}
