.aicare-textfield {
  display: grid;
  gap: 6px;
  position: relative;

  & > label {
    font-size: 1rem;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid var(--lightGraycc);
    width: 120px;
    font-weight: 500;
  }
  .reuqired {
    &::before {
      content: "*";
      width: 4px;
      height: 4px;
      color: var(--orange);
    }
  }

  & > input {
    background: transparent;
    border: 1px solid var(--border);
    padding: 4px 12px;
    padding-left: 140px;
    background-color: var(--white);
    min-height: 48px;
  }
}

.aicare-selector {
  display: grid;
  gap: 6px;
  position: relative;

  & > label {
    font-size: 1.125rem;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    &::before {
      content: "*";
      width: 4px;
      height: 4px;
      color: var(--orange);
    }
  }

  & > select {
    background-color: var(--white);
    color: var(--fontColor);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 2px 12px;
    padding-left: 20px;
    min-height: 48px;
    font-weight: 500;

    & > option {
    }
  }
  i {
    font-size: 1rem;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    color: var(--fontColor);
  }
}
