:root {
  --fontColor: #666666;
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --yellow: #ffd029;
  --orange: #f39800;
  --orange-gradient: linear-gradient(173deg, #f2a81e 0.36%, #fd9800 99.64%);
  --green: #00bbb4;
  --lightGreen: #d3de36;
  --lightGrayf9: #f9f9f9;
  --lightGrayf3: #f3f3f3;
  --lightGraycc: #cccccc;
  --boxShadow: rgba(0, 0, 0, 0.15);
  --lineColor: #06c755;
  --facebookColor: #4267b2;
  --blue: #029ceb;
  --border: #d8d8d8;
}
